## 機械学習・データ分析(2019)　課題1

### このnotebookには、いくつかの課題が記載されています。
### 先頭から順番に、指示に従ってPython Codeをcellに記述してください。
### codeを記述するcellは、各自適切に生成してください。

### 課題提出方法
#### 各自のGitHubに、学籍番号_MD1（たとえば、C180001_MD1)という名称のrepositoryを作成してください。
#### このnotebookを各自のGitHubのリポジトリ（学籍番号_MD1)へコピーしてください。
#### 各自のGitHubのリポジトリをoffice 365のメールアカウントを使用して、sugimura@ccg.ac.jpへ送信してください。メールの件名は、学籍番号_MD1としてください。
##### 【重要】指定された方法で課題を提出することも課題に含まれています。

#### では、課題を始めます。

##### 第1問：最初に、必要なモジュールを読み込みましょう。

読み込むモジュールは、

+ numpy
+ pandas
+ matplotlib.pyplot

です。

さらに、このnotebookの中にグラフを表示できるようにするための命令も記述しましょう。

##### 第2問：　学生名簿CSVファイル ICT2019.csvをデータフレーム型のデータdf_ict1に読み込んでください。

##### ただし、ICT2019.csvには、indexとして用いることができるIDというcolumnが存在していますが、
##### 新たにindexが付加されるように読み込んでください。

##### 第3問：学生名簿の学生データをID（学籍番号）の昇順に並べ替えて表示してください。並べ替えたデータを保存する必要はありません。
##### ここで、学籍番号の昇順とは、C180000<C180001<C180002<・・・＜C180999<C190000<C190001<・・・<C190999となるような順序のことです。

##### pandasモジュールには、データフレームを値に基づいて並び替えるためのメソッドsort_values()があります。
##### sort_values()メソッドを使ってください。sort_values()メソッドは、ソートに利用するcolumnを引数としてもちます。
##### たとえば、IDという名称のcolumnを利用するならば、引数には、by='ID' を設定します。

##### 第4問：データフレーム型データdf_ict1に関して、classごとの学生数をカウントしてください。
##### 解答は、
##### 2S: 2名
##### 4M: 25名
##### 3M: 23名
##### のように出力してください。

##### ただし、df_ict1の列(column)CLASSの値は、たとえば、df_ict1.loc[:, 'CLASS']などによって取得できる。
##### df_ict1.loc[:, 'CLASS']がdf_ict1からどんなデータを取得できるかは、各自確かめてください。

##### 第5問：第4問と同様に、classごとの学生数をカウントしてください。
##### ただし、ここでは、Pythonのメソッドsum()を利用してみよう。
##### sum()は、リストの全ての要素の合計を求めます。
##### リストの要素がbool型であるとき、sum()は、値がTrueである要素の個数を求めることになります。
##### なお、sum()関数には、numpy.sum()というnumpyモジュールのsum()もあります。

##### 第6問：第4問で求めた各クラスの学生数を円グラフで表示してください。

##### 第7問　リスト内包表記を使用して、2桁の奇数からなるリストを作成してください。

##### 第8問：Titanic号csvファイルtitanic.csvをデータフレーム型のデータdf_titanic1に読み込み、先頭の5行を表示させてください。
##### 読み込む際に、新たなIDをデータに付加しnaiさい。

##### 第9問：pandasのmean関数を用いることなく、全体の平均年齢、生存者の平均年齢、死亡者の平均年齢を求めなさい。
##### ただし、画面に表示する小数点以下の桁数は2桁としてください。

##### （参考）DataFrame型データdf_titanic1の要素の値を取得する方法には、
+ loc
+ iloc
+ at
+ iat
##### などがあります。
##### locやilocは、行と列の範囲を指定して取得するため、取り出されたデータもDataFrame型になります。
##### これに対して、atやiatは、指定した行と列に存在する1つの要素の値を取り出すことができます。
##### また、locやatは、行と列のラベル名を指定しますが、ilocやiatは、行番号と列番号を指定します。

#### 第10問：pandasのmean関数を用いて、全体の平均年齢、生存者の平均年齢、及び、死亡者の平均年齢を求めてください。
#### それぞれの平均年齢を求めて表示するコードは、1行で記述することができるので、全部で3行のコードだけで解答することができます。

##### DataFrame型データから特定の条件を満たす行を抽出する方法
+ 比較演算子を用いて'Survived'が1である行を抽出する方法例　----　df_titanic1[df_titanic1['Survived'] == 1]
+ query()メソッドを用いて'Survived'が1である行を抽出する方法例 ----- df_titanic1.query('Survived == 1')

##### DataFtame型データの特定の列の平均を求める方法
##### DataFrame型データdf_titanic1の列'Age'の平均を求めるには、df_titanic1['Age'].mean()　のように記述します。返り値は、この特定の列のデータ型となります。
##### すべての列の平均を求めるには、df_titanic1.mean()　とします。このとき、返り値のデータ型は、Series型です。

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df_ict1 = pd.read_csv("ICT2019.csv")
print(df_ict1)

    ID     学籍番号 英称学科 CLASS                          氏名  score
0    1  C180002   IW    2S                      髙見澤　弘和      1
1    2  C180005   IW    2S                       弘中　哲哉      2
2    3  C190314   IM    3M              NGUYEN THE ANH      3
3    4  C190342   IM    3M                PHAM THI ANH      4
4    5  C190348   IM    3M          CHAUDHARI DILLIRAJ      5
5    6  C190353   IM    3M            NGUYEN CHI THANH      1
6    7  C190370   IM    3M              TAMRAKAR BITTU      2
7    8  C190396   IM    3M                 NWE NI HTWE      3
8    9  C190402   IM    3M                GURUNG SUDIP      4
9   10  C190403   IM    3M               KAUNG MYAT OO      5
10  11  C190404   IM    3M                  YAMIN HTET      1
11  12  C190415   IM    3M               PRABU PENDAWA      2
12  13  C190439   IM    3M                 SAN YEE MOE      3
13  14  C190452   IM    3M                 HEIN KO LAT      4
14  15  C190455   IM    3M             AYE EAINDRA TUN      5
15  16  C190465   IM    3M               SARI YULIANTI      1
16  17  C190466   IM    3M             KHOLIFATUN NISA      2
17  18  C190467   IM    3M                        呉　九門      3
18  19  C190470   IM    3M                        黄　羽岑      4
19  20  C190475   IM    3M                        江　玫衡      5
20  21  C190477   IM    3M                EPSON NGANGI      1
21  22  C190488   IM    3M                        閻　恵鈺      2
22  23  C190492   IM    3M                        于　金鑫      3
23  24  C190493   IM    3M                        趙　子帰      4
24  25  C190495   IM    3M                         薛　奥      5
25  26  C180101   IM    4M           NGUYEN TRUNG KIEN      1
26  27  C180103   IM    4M           NGUYEN HUNG THANH      2
27  28  C180118   IM    4M               PHAM THU THUY      3
28  29  C180131   IM    4M              TRUONG VAN LOI      4
29  30  C180137   IM    4M  ANG BRYAN CHRISTIAN DY TAN      5
30  31  C180143   IM    4M               TRAN HUE NGAN      1
31  32  C180159   IM    4M               GIAP VAN SANG      2
32  33  C180166   IM    4M                LE DINH MANH      3
33  34  C180189   IM    4M                         李　博      4
34  35  C180209   IM    4M           TRAN THI UYEN CHI      5
35  36  C180210   IM    4M             NGUYEN NGOC SON      1
36  37  C180218   IM    4M             NGUYEN HUU THUC      2
37  38  C180233   IM    4M            MICHAEL PANGESTU      3
38  39  C180234   IM    4M          DOAN THI NGOC THUY      4
39  40  C180242   IM    4M                         陸　銘      5
40  41  C180249   IM    4M              ISLAM MD RISUL      1
41  42  C180250   IM    4M                  SU MON ZAW      2
42  43  C180258   IM    4M           NGUYEN THANH CONG      3
43  44  C180267   IM    4M                        孫　靖康      4
44  45  C180277   IM    4M                        趙　博雯      5
45  46  C180288   IM    4M                         張　瑩      1
46  47  C180289   IM    4M                   EI EI ZAW      2
47  48  C180291   IM    4M                        劉　明研      3
48  49  C180292   IM    4M                        金　永山      4
49  50  C180293   IM    4M                  SOE SANDAR      5

In [7]:
df_ict1.sort_values(by='ID')

    ID     学籍番号 英称学科 CLASS                          氏名  score
0    1  C180002   IW    2S                      髙見澤　弘和      1
1    2  C180005   IW    2S                       弘中　哲哉      2
2    3  C190314   IM    3M              NGUYEN THE ANH      3
3    4  C190342   IM    3M                PHAM THI ANH      4
4    5  C190348   IM    3M          CHAUDHARI DILLIRAJ      5
5    6  C190353   IM    3M            NGUYEN CHI THANH      1
6    7  C190370   IM    3M              TAMRAKAR BITTU      2
7    8  C190396   IM    3M                 NWE NI HTWE      3
8    9  C190402   IM    3M                GURUNG SUDIP      4
9   10  C190403   IM    3M               KAUNG MYAT OO      5
10  11  C190404   IM    3M                  YAMIN HTET      1
11  12  C190415   IM    3M               PRABU PENDAWA      2
12  13  C190439   IM    3M                 SAN YEE MOE      3
13  14  C190452   IM    3M                 HEIN KO LAT      4
14  15  C190455   IM    3M             AYE EAINDRA TUN      5
15  16  C190465   IM    3M               SARI YULIANTI      1
16  17  C190466   IM    3M             KHOLIFATUN NISA      2
17  18  C190467   IM    3M                        呉　九門      3
18  19  C190470   IM    3M                        黄　羽岑      4
19  20  C190475   IM    3M                        江　玫衡      5
20  21  C190477   IM    3M                EPSON NGANGI      1
21  22  C190488   IM    3M                        閻　恵鈺      2
22  23  C190492   IM    3M                        于　金鑫      3
23  24  C190493   IM    3M                        趙　子帰      4
24  25  C190495   IM    3M                         薛　奥      5
25  26  C180101   IM    4M           NGUYEN TRUNG KIEN      1
26  27  C180103   IM    4M           NGUYEN HUNG THANH      2
27  28  C180118   IM    4M               PHAM THU THUY      3
28  29  C180131   IM    4M              TRUONG VAN LOI      4
29  30  C180137   IM    4M  ANG BRYAN CHRISTIAN DY TAN      5
30  31  C180143   IM    4M               TRAN HUE NGAN      1
31  32  C180159   IM    4M               GIAP VAN SANG      2
32  33  C180166   IM    4M                LE DINH MANH      3
33  34  C180189   IM    4M                         李　博      4
34  35  C180209   IM    4M           TRAN THI UYEN CHI      5
35  36  C180210   IM    4M             NGUYEN NGOC SON      1
36  37  C180218   IM    4M             NGUYEN HUU THUC      2
37  38  C180233   IM    4M            MICHAEL PANGESTU      3
38  39  C180234   IM    4M          DOAN THI NGOC THUY      4
39  40  C180242   IM    4M                         陸　銘      5
40  41  C180249   IM    4M              ISLAM MD RISUL      1
41  42  C180250   IM    4M                  SU MON ZAW      2
42  43  C180258   IM    4M           NGUYEN THANH CONG      3
43  44  C180267   IM    4M                        孫　靖康      4
44  45  C180277   IM    4M                        趙　博雯      5
45  46  C180288   IM    4M                         張　瑩      1
46  47  C180289   IM    4M                   EI EI ZAW      2
47  48  C180291   IM    4M                        劉　明研      3
48  49  C180292   IM    4M                        金　永山      4
49  50  C180293   IM    4M                  SOE SANDAR      5

In [8]:
print(df_ict1.loc[:,'CLASS'])

0     2S
1     2S
2     3M
3     3M
4     3M
5     3M
6     3M
7     3M
8     3M
9     3M
10    3M
11    3M
12    3M
13    3M
14    3M
15    3M
16    3M
17    3M
18    3M
19    3M
20    3M
21    3M
22    3M
23    3M
24    3M
25    4M
26    4M
27    4M
28    4M
29    4M
30    4M
31    4M
32    4M
33    4M
34    4M
35    4M
36    4M
37    4M
38    4M
39    4M
40    4M
41    4M
42    4M
43    4M
44    4M
45    4M
46    4M
47    4M
48    4M
49    4M
Name: CLASS, dtype: object

In [ ]:
s_2s=0
s_4m=0
s_3m=0

for name in df_ict1['CLASS']:
    if name =='2S'
    s_2s+=1